// I tested to override Element plus successfully
// https://element-plus.org/en-US/guide/theming.html#how-to-override-it

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #42b883,
    ),
  )
);
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;1,600&display=swap');
@import 'element-plus/theme-chalk/src/index.scss';

* {
  font-family: 'Source Code Pro', monospace;
}

body, html {
  padding: 0;
  margin: 0;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: #fff;
}

.el-input__inner {
  padding: 25px 16px !important;
}

.el-select, .el-input-number {
  width: 100%;
}

.el-form-item__label {
  font-weight: bold;
}

.el-descriptions__label {
  color: #42b883 !important;
}

.container {
  max-width: 700px;
  margin: auto;
}

h1, h2, h3 {
  color: #42b883;
}

#app h1 {
  font-size: 20px;
}

#app h2 {
  font-size: 18px;
}

#app h3 {
  font-size: 16px;
}

#app label, th {
  font-size: 15px;
}

#app p, li {
  font-size: 15px;
}

@for $i from 1 to 100 {
  .mb-#{$i} {
    margin-bottom: $i * 1px;
  }
}
